:root {
    --primary: #058B65;
    --secondary: #034633;
    --almostBlack: #313131;
}

body {
    color: var(--almostBlack);
    font-family: 'Poppins', sans-serif;
}

.main-content {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 120px;
    color: var(--primary)
}

input {
    display: block;
    width: 40%;
    height: 34px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

label {
    display: block;
    width: 40%;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: 6px;
}

.details-button {
    display: block;
    width: 30%;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 6px;
    background-color: var(--secondary);
    color: white;
    font-size:  14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.update-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: var(--secondary);
    color: white;
    font-size:  11px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

table {
    margin-top: 100px;
    width: 70%;
    text-align: center;
}

th, td {
    width: 25%;
    padding: 4px;
}

th {
    color: var(--primary);
}